################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TEAyudo_Propuesta/FileContentIndex/32ca2d1b-47d1-4aea-9c9e-b109db6eb88f.vsidx
